/* GENERALES */
body {
  font-family: 'Open Sans', sans-serif;
  color: #1E1E24;
  
}
.title, h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', Roboto, sans-serif;
}
.host {
  min-height: 90vh;
  margin-top: 12vh;
}
.customBody {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

/* BOTONES Y ENLACES */
.but-outline{
  font-weight: 600;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 0.4rem 1rem;
  font-size: 0.92rem;
  line-height: 1.5;
  border-radius: 3rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #2B6D29 !important;
  background-color: transparent;
  background-image: none;
  border-color: #2B6D29 !important;
}
.but-outline:hover, .but-outline:focus {
  text-decoration: none;
  color: white !important;
  background-color: #2B6D29 !important;
  border-color: #2B6D29 !important;
}
.but-solid{
  font-weight: 600;
  text-decoration: none;
  padding: 0.4rem 1rem;
  font-size: 0.92rem;
  line-height: 1.5;
  border-radius: 3rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color:  #2B6D29 !important;
  color: white !important;
  background-image: none;
  border: 2px solid transparent;
  border-color: #2B6D29 !important;
}
.but-solid:hover, .but-solid:focus {
  text-decoration: none;
  color: white !important;
  background-color: #60463B !important;
  border-color: #60463B !important;
}
.but-solid:disabled {
  color: white !important;
  background-color: #6E7271 !important;
  border-color: #6E7271 !important;
  opacity: 0.5;
}

a {
  color: #2B6D29 !important;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;  
}
a:focus, a:hover {
  color: #60463B !important;
}