body {
  font-family: sans-serif;
  color: #1C1C1C;
}
.host {
  height: 90vh;
  margin-top: 10vh;
}
.but{
  font-weight: 600;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 0.45rem 1.8rem;
  font-size: 0.92rem;
  line-height: 1.5;
  border-radius: 3rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #49B545 !important;
  background-color: transparent;
  background-image: none;
  border-color: #49B545 !important;
}
.but:hover, .but:focus {
  text-decoration: none;
  color: white !important;
  background-color: #49B545 !important;
  border-color: #49B545 !important;
}