.nombre {
    font-size: 22pt;
    padding-top: 5%;
}

.profile-body {
    font-size: 18pt;
}

.puesto {
    text-decoration: underline;
    font-size: 26pt;
    color: #2B6D29;
}

.nombre-usuario {
    color: grey;
    font-size: 14pt;
}

.correo {
    font-size: 14pt;
}