.esconder { 
    display:none; 
}
.resize {
    max-width: 100px !important;
}
div.ob.card {
    max-width: inherit !important;
}

/* ESTILOS Evaluacion.js */
@media(min-width: 768px) {
    .fijada {
        position: fixed;
        background-color: white;
        top: 15vh;
        right: 0;
    }
    div.ob.card {
        min-width: 200px;
    }
}
@media(max-width: 767px){
    .fijada {
        position: fixed;
        background-color: white;
        bottom: 0;
        right: 0;
        width: 100vw;
    }
}

/* ESTILOS TIps.js */
.green {
    color: #2B6D29;
}
.green {
    color: #60463B;
}
li a {
    text-decoration: none !important;
}