/* ESTILOS Home.js */
img.banner {
    width: 70%;
}
.navbar-brand {
    color: #60463B !important;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    font-size: 1.5rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
span.prefix {
    color: #2B6D29;
}

/* ESTILOS Footer.js */
footer {
    height: 16vh;
    background-color: #1E1E24;
    color: white;
    font-size: 600;
}

/* ESTILOS Navbar.js */
nav {
    font-weight: 500;
}
nav.navbar-toggler, .navbar-toggler-icon {
    color: #6E7271 !important;
    border-color: #6E7271 !important;
}